<% layout('front/boilerplate')%>

<h1>All Ski Resorts</h1>
<% for (let skiresorts of skiresortss){%>
<div class="card" mb-3>
     <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=skiresorts.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= skiresorts.title %> </h5>
                <p class="card-text"><%= skiresorts.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= skiresorts.location%></small>
                </p>
                <a class="btn btn-primary" href="/front/<%=skiresorts._id%>">View </a>
            </div>
        </div>
    </div>
</div>
<% }%>